<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表過濾</title>
</head>

<body>
    <!-- 
        
     -->

    <!-- 準備好一個容器 -->
    <div id="root">
        <h2>人員列表</h2>
        <input type="text" placeholder="請輸入名字" v-model="keyWord">
        <ul>
            <li v-for="p in filPersons" :key="p.id">
                {{p.name}} - {{p.age}} - {{p.sex}}
            </li>
        </ul>
    </div>

    <script src="../js/vue.js"></script>
    <script>
        Vue.config.productionTip = false // 阻止vue在啟動時生成生產提示

        // 用watch實現
        // #region
        // new Vue({
        //     el: '#root',
        //     data: {
        //         keyWord: '',
        //         persons: [
        //             { id: '001', name: '馬冬梅', age: 18, sex: '女' },
        //             { id: '002', name: '周冬雨', age: 19, sex: '女' },
        //             { id: '003', name: '周杰倫', age: 21, sex: '男' },
        //             { id: '004', name: '溫兆倫', age: 22, sex: '男' },
        //         ],
        //         filPersons: []
        //     },
        //     watch: {
        //         keyWord: {
        //             immediate: true,
        //             handler(val) {
        //                 this.filPersons = this.persons.filter((p) => {
        //                     return p.name.indexOf(val) !== -1
        //                 })
        //             }
        //         }
        //     }
        // });
        // #endregion

        // 用computed實現
        new Vue({
            el: '#root',
            data: {
                keyWord: '',
                persons: [
                    { id: '001', name: '馬冬梅', age: 18, sex: '女' },
                    { id: '002', name: '周冬雨', age: 19, sex: '女' },
                    { id: '003', name: '周杰倫', age: 21, sex: '男' },
                    { id: '004', name: '溫兆倫', age: 22, sex: '男' },
                ],
            },
            computed: {
                filPersons() {
                    return this.filPersons = this.persons.filter((p) => {
                        return p.name.indexOf(this.keyWord) !== -1
                    })
                }
            }
        });
    </script>
</body>

</html>